@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

$minViewportWidth: 400;
$maxViewportWidth: 1600;
$gap: 5;
$padding: 5;
$color: orange;

// ブレイクポイント記法よりアスペクト比が使えるならそちらを採用するか
// aspect-ratio

$bp: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1440px,
);

// https://css-tricks.com/snippets/css/fluid-typography/
// https://css-tricks.com/how-do-you-do-max-font-size-in-css/
// rem記法でフォントサイズを定義する
// 原型はこれだが、今はrem
// https://qiita.com/katsunory/items/3bede89cee8e2ded8426

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media screen and (min-aspect-ratio: 7/10) {
    font-size: 10 / $maxViewportWidth * 100vw;
  }
  @media screen and (min-device-aspect-ratio: 7/10) {
    font-size: 10 / $maxViewportWidth * 100vw;
  }

  @media screen and (max-aspect-ratio: 7/10) {
    font-size: 10 / $minViewportWidth * 100vw;
  }
  @media screen and (max-device-aspect-ratio: 7/10) {
    font-size: 10 / $minViewportWidth * 100vw;
  }
}

@mixin query($display) {
  @each $key, $value in $bp {
    @if ($display == $key) {
      @media screen and (max-width: $value) {
        @content;
      }
      @media screen and (max-device-width: $value) {
        @content;
      }
    }
  }
}

@mixin deviceSpRatio() {
  @media screen and (max-aspect-ratio: 7/10) {
    @content;
  }
  @media screen and (max-device-aspect-ratio: 7/10) {
    @content;
  }
}

@mixin devicePcRatio() {
  @media screen and (min-aspect-ratio: 7/10) {
    @content;
  }
  @media screen and (min-device-aspect-ratio: 7/10) {
    @content;
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: #{$gap}px;
  padding: #{$padding}px;

  @include query(mobile) {
    flex-direction: column;
  }
}

[class^='block-'] {
  border: 4px solid $color;
  height: 100vh - $padding * 2;
}

.block-1 {
  flex-grow: 2;
}

.block-2 {
  flex-grow: 8;
}

@include deviceSpRatio() {
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 2rem;
    word-wrap: break-word;
  }
}

@include devicePcRatio() {
  h2 {
    font-size: 2.5rem * 1.8;
  }
  p {
    font-size: 2rem * 1.8;
    word-wrap: break-word;
  }
}
