$gap: 10;
$padding: 10;
$color: orange;
$mobile: 480;

@mixin query($size) {
  @media screen and (max-width: #{$size}px) {
    @content;
  }
  @media screen and (max-device-width: #{$size}px) {
    @content;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: #{$gap}px;
  padding: #{$padding}px;
  border: 1vh solid $color;
}

[class^='block-'] {
  display: flex;
  flex-direction: row;
  gap: #{$gap}px;
  height: (
      100vh - $gap * 2 - $padding * 2
    )/2;

  @include query($mobile) {
    flex-direction: column;
    height: 50vh;
  }
}

[class^='box-'] {
  display: flex;
  border-radius: 10px;
  color: #fff;
}

.box-1 {
  background: linear-gradient(
    45deg,
    #e24915,
    #e7b613
  );
  flex-basis: 100%;
}

.box-2 {
  background: linear-gradient(
    45deg,
    #4f5357,
    #456234
  );
  flex-basis: 70%;
}

.box-3 {
  background: linear-gradient(
    45deg,
    #dda077,
    #6bb5cc
  );
  flex-basis: 30%;
}

.box-4 {
  background: linear-gradient(
    45deg,
    #123456,
    #456234
  );
  flex-basis: 20%;
}

.box-5 {
  background: linear-gradient(
    45deg,
    #261256,
    #345b62
  );
  flex-basis: 80%;
}

@include query($mobile) {
  .block-1 {
    order: 2;
  }

  .block-2 {
    order: 3;
  }

  .block-3 {
    flex-direction: row;
    order: 1;
  }

  .box-4,
  .box-5 {
    flex-basis: 50% !important;
    order: 4;
  }
}
